/* example styles */

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background: url('../images/lined-bg.png');
	background-size: 125px 18px;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	width: 100%;
	height: 100%;
}
div.wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 1050px;
	background-color: rgba(255, 255, 255, .5);
}

/* link defaults */
a:hover, a:active { outline: none; }
a, a:active, a:visited {  color: #444; }
a:hover { color: #e7624d; }
a:link { -webkit-tap-highlight-color: #222; }

/* text selection */
::-moz-selection { background: #e7624d; color:#fff; text-shadow: none; }
::selection { background: #e7624d; color:#fff; text-shadow: none; }

/* headline */
h1 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	line-height: 1;
	margin: -5px 0 20px -10px;
	clear: both;
	color: #666;
	background-color: rgba(255, 255, 163, .4);
	padding: 8px 10px 5px 10px;
	display: inline-block;
}
h1 a {
	font-weight: bold;
	color: #444;
	text-decoration: none;
}
h2 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.4;
	margin: 5px 0 0 0;
	color: #fd9888;
	color: #777;
}
h2 a {
	text-decoration: none !important;
}
h3  {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.1;
	margin: 0;
	color: #666;
	color: #e7624d !important;
}
h3 a {
	color: #e7624d !important;
	text-decoration: none !important;
}
h3.demo {
	line-height: .95;
	font-size: 35px;
	display: inline-block;
	margin: 0 0 20px 3px;
}
h3.demo a {
	font-weight: 700;
	color: #e7624d !important;
	text-decoration: none !important;
}
h3 a:hover {
	color: #222 !important;
}

/* clear floats */
div.clear {
	clear: both;
}
div.spacer {
	height: 10px;
	clear: both;
}
div.benchmark {
	position: fixed;
	bottom: 10px;
	margin-left: -150px;
	left: 50%;
	color: #bbb;
	font-size: 9px;
	font-family: Menlo, monospace;
}

p {
	margin-bottom: 10px;
}

/* Left Column Navigation */
.nav {
	float: left;
	width: 160px;
	padding: 0;
	margin: 35px 0 0 30px;
}

/* menu links */
.nav ul li a {
	text-decoration: none;
	font-size: 16px;
	line-height: 1.7;
	padding: 2px 5px;
	color: #888;
	margin-left: 0px;
}

/* section links */
.nav ul li.section a {
	color: #444;
}

/* selected section */
.nav ul li.section.selected a, .nav ul li.section.selected a:hover, .nav ul li.section.selected a:active, .nav ul li.selected a, .nav ul li.selected a:hover {
	background-color: #666;
	color: #333;
	background-color: rgba(255, 255, 163, .7);
}

/* selected sub page */
.nav ul li.selected a, .nav ul li.selected a:hover {
}

/* parent section of selected page */
.nav ul li.selected-section a {
	/* can style this */
}

/* menu hover style */
.nav ul li a:hover {
	color: #e7624d;
}

/* indent */
.nav ul li.sub2, .nav ul li.section.sub2 {
	margin-left: 10px;
}
.nav ul li.sub3, .nav ul li.section.sub3 {
	margin-left: 20px;
}
.nav ul li.sub4, .nav ul li.section.sub4 {
	margin-left: 30px;
}

/* Right Column & Page Content */
div.content {
	float: left;
	width: 700px;
	padding: 0px 25px 0px 30px;
	border-right: 1px dotted #ddd;
	border-left: 2px dotted #ffaea1; /*dc8984*/
	height: 100%;

	-webkit-box-shadow:  3px 0px 5px 5px rgba(169, 213, 226, .15);
	        box-shadow:  3px 0px 5px 5px rgba(169, 213, 226, .15);
}

div.project, a.project-thumb {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	background: #eee url("../images/empty-box.png") no-repeat;
	background-size: 700px 350px;
	display: block;
	width: 700px;
	height: 350px;
	margin: 25px 0;
	opacity: .7;
	border-radius: 7px;
	border: 2px solid #ccc;
	text-align: center;
	font-size: 80px;
	line-height: 350px;
	color: #ddd;
	font-weight: normal;

}
a.project-thumb {
	opacity: 1;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-size: 200px 200px;
	font-size: 30px;
	line-height: 200px;
	margin: 20px 25px 20px 0;
	color: #aaa !important;
	text-decoration: none !important;
}
a.project-thumb:hover {
	color: #e7624d !important;
	border: 2px solid #e7624d;
}

div.project.about {
	float: right;
	margin: 5px 0 10px 25px;
	width: 300px;
	height: 300px;
	background-size: 300px 300px;
	font-size: 120px;
	line-height: 300px;
}

div.content img.screenshot {
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 0 25px 0 0;
	background-color: #fff;
	padding: 5px;
	border: 1px solid rgba(169, 213, 226, .8);
}

p.date {
	margin: 0 0 5px 0;
}
p.date a {
	text-decoration: none;
	font-size: 14px;
	color: #aaa;
	margin: 0;
}
p.date a:hover {
	color: #e7624d;
}

a.readmore {
	font-size: 13px;
	line-height: 1.2;
	text-decoration: none;
	border-bottom: 1px solid #bbb;
	color: #999;
}
a:hover.readmore {
	color: #e7624d;
	border-bottom: 1px solid #e7624d;
}

a.arrow {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	float: right;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 18px;
	color: #999;
}

a.arrow.prev {
	float: left;
}

a.arrow:hover {
	color: #e7624d;
	background-color: transparent !important;
}
